<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Home | Saini Site</title>
  </head>
  <body>
    <h1 style="text-align:center">Welcome to The Text Analyzer</h1>
    <form action="/analyze" method="get">
      <textarea
        name="text"
        id=""
        cols="30"
        rows="10"
        style="width: 1332px; height: 204px"
      ></textarea>
      <input type="checkbox" name="removepunc">Remove Punctuation </input>
      <br>
         <input type="checkbox" name="capon">Caps On</input>
      <br>
          <input type="checkbox" name="removespace">Remove Spaces </input>
      <br>
      <input type="checkbox" name="removeline">Remove Line </input>
      <br>
          <input type="checkbox" name="pdf">Convert In PDF</input>
      <br>
      <button type="submit">Analyze Text</button>
    </form>
  </body>
</html>
